{% load static %}<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" style="width: 150px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0 mr-1" >Log In</button>
      <button class="btn btn-primary my-2 my-sm-0" >Sign Up</button>
    </form>
  </div>
</nav>

  <!-- Masthead -->
  <header class="masthead text-white">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12 ">
          <h1 class="mb-5">Blockchain revolution is here, so are our <br> Enterprise Ready Blockchain Applications</h1>
          <h4 class="mb-5">Enterprise Blockchain - a reality.. Create a Blockchain For your Application with <br>Necxury Blockchain Services</h4>
          <h2 >Era of Transperancy, Immutability and Blockchain</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <!-- <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i style="margin-left: 125px" class="fas fa-university"></i>
            </div>
            <h3>BFSI</h3>
            <p class="lead mb-0">Solutions for Trustful and Transperant Banking using Blockchain</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i style="margin-left: 115px" class="fas fa-clinic-medical"></i>
            </div>
            <h3>Health Care</h3>
            <p class="lead mb-0">Fully Secure Medicals Records Management and Clinical Decentralization</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i style="margin-left: 115px" class="fas fa-shopping-cart"></i>
            </div>
            <h3>Retail</h3>
            <p class="lead mb-0">International Supply Chain Management Solutions.. Distributed but Accounted..</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(../static/img/fabric.png); background-size: 461px 156px; background-repeat: no-repeat;background-position: center;"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Hyperledger Fabric</h2>
          <ul>
            <li class="lead mb-0"><em><b>Necxury Retail</b></em>:- Supply Chain Management in Blockchain</li>
            <li class="lead mb-0"><em><b>Loanchain</b></em> :- A LMS(loan management system) And ASS (Asset Securitization solution ) in Blockchain. Adopts AI module for asesst categorization and repayment capacity assessment. Simplistic application which prioritizes delivery and efficiency</li>
            <li class="lead mb-0"><em><b>Banking Transaction Systems</b></em> :- Visualises a banking transaction blockchain application which provides authentic and immutable backend for transaction to improve transparency among different stakeholders of system. The system boasts <em>60% automation, 100% Ledger Authentity and Transperancy.</em></li>
          </ul>  
          
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(../static/img/ethereum2.png); background-size: 275px 290px; background-repeat: no-repeat;background-position: center;"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Ethereum</h2>
          <h5></h5>
          <ul>
            <li class="lead mb-0"><em><b>MedRec</b></em>The system intends to connect Hospitals, Patients in a blockchain network to provide realtime, secure and scalable solution to manage heath records. It intents to connects hospitals, doctors and patients to interact using smart records in ethereum private networks.</li>
            <p class="lead mb-0"><em>Features of the system:</em></p>
            <ul>
              <li class="lead mb-0">Provide an immutable and incorruptible list of your medical records in a Blockchain</li>
              <li class="lead mb-0">Secure, Safe and Private Data protected by Cryptography</li>
              <li class="lead mb-0">Connects the patient to network of global hospitals you can consult with your medical condition.</li>
              <li class="lead mb-0">Patient can control or restrict his/her private data from being misused by a hospital or a doctor as the patients generated access code is required to view the health record</li>
              <li class="lead mb-0">It provides a safe method for transferring data across institutions</li>
              <li class="lead mb-0">P2P  model reduces the overall managing cost of system and helps reduce maintenance cost.</li>


            </ul>
          
          </ul>        
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(../static/img/cryptocurrency.png); background-size: 275px 290px; background-repeat: no-repeat;background-position: center;"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Cryptocurrency</h2>
          <p class="lead mb-0">Our cryptocurrency team has been the industry forerunners from the advent of the coin run. Our services have helped many client in meeting their cryptocurrenty requirements.<br> We Specilise in:</p>
          <ul>
            <li class="lead mb-0">SHA 256 or SCRYPT based cryptocoin generation and operations</li>
            <li class="lead mb-0">Cryptocurrency interfacein web and app</li>
            <li class="lead mb-0">Development and management of cryptocurrency exchanges</li>
            <li class="lead mb-0">ICO and further coin upgradations and monetization</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(../static/img/training.png); background-size: 450px 290px; background-repeat: no-repeat;background-position: center;"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Blockchain Consultancy Services</h2>
        <p class="lead mb-0">We advise enterprises in blockchain business modeling, Block chain devOps and support them in Implementation. </p>
        <ul>
          <li class="lead mb-0">Hyperledger Fabric Solutions</li>
          <li class="lead mb-0">Ethereum Solution</li>
          <li class="lead mb-0">ICO consulting</li>
          <li class="lead mb-0">Cryptocoin consuting</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(../static/img/dental-consultancy.png); background-size: 275px 290px; background-repeat: no-repeat;background-position: center;"></div>
    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
      <h2>Training and Community Initiatives</h2>
      <p class="lead mb-0">Our dedicated hyperledger, ethereum and coin teams are involved in programs for-</p>
      <ul>
        <li class="lead mb-0">Invoking pubic interest in blockchain tech,</li>
        <li class="lead mb-0">Drive developer community to active participation in our projects</li>
        <li class="lead mb-0">Classroom training programs for architects and developer professionals</li>
        <li class="lead mb-0">Organising webinars, hackathons and other student projects</li>
      </ul>
      </div>
    </div>
  </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Clients and Partners</h2>
      <div class="row">
        <div class="col-lg-6">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" style="height: 190px" src="{% static 'img/manappuram.png' %}" alt="">
            <h5>MAFIL</h5>
            <p class="font-weight-light mb-0">Prime Training Partner and Client</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static 'img/0.jpeg' %}" alt="">
            <h5>Gitty Inc USA</h5>
            <p class="font-weight-light mb-0">Ethereum Based Client</p>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Get more Information!!!! </h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Send Mail!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>